.filters-group-container {
    margin-top: 16px;
  }
  
  .Customize_checkbox {
    display: flex;
    align-items: center;
    width: 200px;
    height: Hug (22px) px;
    gap: 24px;
    opacity: 0px;
  }
  
  .IdealFor_checkbox {
    display: flex;
    align-items: center;
  
    width: Fill (300px) px;
    height: Hug (19px) px;
    gap: 8px;
    opacity: 0px;
  }
  
  .dropdown_header {
    display: flex;
    justify-content: space-between;
    width: 200px;
    height: Hug (52px) px;
    gap: 8px;
    opacity: 0px;
  }
  
  @media (max-width: 576px) {
    .dropdown_header {
      display: flex;
      justify-content: space-between;
      width: 100%;
      height: Hug (52px) px;
      gap: 8px;
      opacity: 0px;
    }
  }
  .style_idealfordropdown {
    display: flex;
    flex-direction: column;
    margin: 15px;
  }
  .dropdown_idealfor {
    display: flex;
    flex-direction: column;
  }
  
  .line_break {
    background-color: #4d4d4d;
    width: 100%;
  }
  .checkbox_style {
    border: 0.92px solid #4d4d4d;
    color: #ffffff;
    width: 22px;
    height: 22px;
    gap: 0px;
    opacity: 0px;
  }
  
  .dropdown_container {
    display: flex;
    flex-direction: column;
    align-items: space-around;
  }
  
  .dropdown-label_header {
    font-weight: 500;
  }
  
  .unselect_btn {
    border: 0px solid;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    font-weight: bold;
    margin: 10px;
    text-decoration: underline;
    color: #4d4d4d;
  }
  
  .IdealFor_style {
    color: #ffffff;
    width: 15px;
    height: 15px;
    gap: 0px;
    border: 0.75px 0px 0px 0px;
    opacity: 0px;
  }
  
  .checkbox_label {
    width: 270px;
    height: 16px;
    top: 4px;
    left: 30px;
    gap: 0px;
    opacity: 0px;
  
    font-family: Simplon Norm;
    font-size: 18px;
    font-weight: 700;
    line-height: 21.6px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #252020;
  }
  
  .IdealFor_label {
    top: 4px;
    left: 30px;
    color: #252020;
    font-family: Simplon Norm;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    width: 29px;
    height: 19px;
    gap: 0px;
    opacity: 0px;
  }
  
  @media screen and (min-width: 768px) {
    .filters-group-container {
      width: 25%;
      max-width: 280px;
      min-width: 240px;
      margin-top: 48px;
      flex-shrink: 0;
    }
  }
  
  .search-input-container {
    display: flex;
    align-items: center;
    background-color: #f1f5f9;
    border-radius: 8px;
    padding-left: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 16px;
  }
  
  .search-input {
    background-color: #f1f5f9;
    color: #0f172a;
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 500;
    border: none;
    outline: none;
    flex-grow: 1;
  }
  
  .search-icon {
    color: #475569;
    width: 20px;
    height: 20px;
  }
  
  .category-heading {
    color: #12022f;
    font-family: 'Roboto';
    font-size: 18px;
    font-weight: 700;
    margin-top: 24px;
  }
  
  @media screen and (min-width: 768px) {
    .category-heading {
      margin-top: 32px;
    }
  }
  
  .categories-list {
    padding-left: 0;
  }
  
  .category-item {
    list-style-type: none;
    margin-top: 16px;
    cursor: pointer;
  }
  
  @media screen and (min-width: 768px) {
    .category-item {
      margin-top: 24px;
    }
  }
  
  .category-name {
    color: #64748b;
    font-family: 'Roboto';
    font-size: 16px;
  }
  
  @media screen and (min-width: 768px) {
    .category-name {
      font-size: 18px;
    }
  }
  
  .active-category-name {
    color: #0967d2;
  }
  
  .rating-heading {
    color: #12022f;
    font-family: 'Roboto';
    font-size: 18px;
    font-weight: 700;
    margin-top: 32px;
    margin-bottom: 18px;
  }
  
  .ratings-list {
    padding-left: 0px;
  }
  
  .rating-item {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    cursor: pointer;
  }
  
  .rating-img {
    max-width: 152px;
    height: 20px;
  }
  
  @media screen and (min-width: 768px) {
    .rating-img {
      height: 24px;
    }
  }
  
  .and-up {
    color: #64748b;
    font-family: Roboto;
    font-size: 16px;
    margin-left: 10px;
    margin-bottom: 0;
    margin-top: 0;
  }
  
  @media screen and (min-width: 768px) {
    .and-up {
      font-size: 18px;
      margin-left: 14px;
    }
  }
  
  .active-rating {
    color: #0967d2;
  }
  
  .clear-filters-btn {
    background-color: #ffffff;
    color: #0967d2;
    font-family: 'Roboto';
    font-size: 10px;
    font-weight: 700;
    border-radius: 4px;
    border: 1px solid #0967d2;
    padding-top: 8px;
    padding-left: 12px;
    padding-bottom: 8px;
    padding-right: 12px;
    margin-top: 16px;
    outline: none;
    cursor: pointer;
  }
  
  @media screen and (min-width: 768px) {
    .clear-filters-btn {
      font-size: 14px;
      padding-left: 20px;
      padding-right: 20px;
      margin-top: 32px;
    }
  }
  