.nav-header {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid rgb(243, 243, 243);
    background-color: #ffffff;
    flex-direction: column;
  }
  
  .header_logo {
    text-align: center;
  }
  
  .tab_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    margin-right: 100px;
  }
  
  @media screen and (max-width: 576px) {
    .tab_container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      margin: 0px;
      padding: 0px;
    }
    .each_tab {
      margin: 5px;
      font-weight: 200;
    }
  }
  
  .each_tab {
    margin: 25px;
    font-weight: 500;
  }
  
  @media screen and (max-width: 767px) {
    .nav-header {
      flex-direction: column;
      align-items: center;
      border-bottom-style: none;
    }
  }
  
  .nav-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    /* max-width: 1110px; */
    padding-top: 25px;
    padding-bottom: 25px;
  }
  @media screen and (max-width: 767px) {
    .nav-content {
      flex-direction: column;
    }
  }
  
  .nav-bar-mobile-logo-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  @media screen and (min-width: 768px) {
    .nav-bar-mobile-logo-container {
      display: block;
    }
  }
  
  .nav-bar-large-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    /* max-width: 1110px; */
  }
  
  @media screen and (max-width: 767px) {
    .nav-bar-large-container {
      display: flex;
      flex-direction: column;
    }
    .nav-bar-mobile-icons-container {
      display: flex;
      justify-content: space-between;
      width: 20vw;
      align-items: center;
    }
  }
  
  .website-logo {
    width: 50px;
  }
  
  @media screen and (min-width: 768px) {
    .website-logo {
      width: 50px;
    }
  }
  
  .nav-menu {
    display: flex;
    flex-direction: row;
    /* justify-content: flex-end; */
    align-self: flex-end;
    flex: 1;
    list-style-type: none;
    margin-top: 0px;
    margin-bottom: 0px;
    justify-content: center; /* Center items in the flex container */
    gap: 20px; /* Space between Home and Jobs */
    flex-grow: 1; /* Allow the center section to grow */
  }
  
  @media screen and (max-width: 767px) {
    .nav-menu {
      display: flex;
    }
  }
  
  .nav-menu-item {
    font-family: 'Roboto';
    /* margin: 10px; */
    font-weight: 400;
    font-size: 16px;
  }
  
  .nav-link {
    text-decoration: none;
    color: #000000;
    font-weight: 500;
  }
  
  .nav-menu-mobile {
    width: 100%;
  }
  
  @media screen and (min-width: 768px) {
    .nav-menu-mobile {
      display: block;
    }
  }
  
  .nav-menu-list-mobile {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    background-color: #e6f6ff;
    flex: 1;
    list-style-type: none;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
  }
  
  .nav-menu-item-mobile {
    margin: 0px;
    cursor: pointer;
  }
  
  .logout-desktop-btn {
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 10px;
    padding: 8px 16px;
    color: #000000;
    background-color: #4f46e5;
    border: none;
    border-radius: 4px;
    margin-left: 14px;
    cursor: pointer;
    outline: none;
  }
  
  @media screen and (max-width: 767px) {
    .logout-desktop-btn {
      display: block;
    }
  }
  
  .nav-mobile-btn {
    border: none;
    padding: 0px;
    background: transparent;
    cursor: pointer;
    outline: none;
  }
  
  @media screen and (min-width: 768px) {
    .nav-mobile-btn {
      display: block;
    }
  }
  
  .nav-bar-img {
    width: 24px;
  }
  